@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300&display=swap');

* {
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

/* body {
    background-image: url(img/fondo.jpg);
    background-size: cover;
} */

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* box-sizing: border-box; */
    background-color: white;
    /* width: 100%; */
    padding: 50px;
}

.navbar a {
    color: black;
    font-size: 18px;
}

.navbar .logo {
    text-shadow: #000 1px 0 5px;
    font-size: 3em;
    font-weight: bold;
    margin-right: 50px;
}

.navbar .nav-links .list {
    display: flex;
    gap: 25px;
}

.navbar .nav-links ul li{
    margin: 0 45px;
}

#toggler, .navbar label {
    display: none;
}

.container {
    margin: 0 auto;
    width: 1600px;
    height: 100%;
    background-color: #f5f6fa;
    border-radius: 15px;
}

.separador {
    height: 1px;
    width: 1550px;
    background-color: gray;
    margin: 0 auto;
}

.container2 {
    margin: 20px auto;
    background-image: url(img/header1.png);
    background-size: cover;
    text-shadow: #000 1px 0 10px;
    width: 95%;
    height: 450px;
}


.container2 .caja1 h1{
    font-size: 50px;
    padding: 50px;
    padding-bottom: 0px;
}

.container2 p {
    color: white;
    font-size: 20px;
    padding: 50px;
    padding-bottom: 0px;
}

.container2 .caja2 a{
    padding: 50px;
    padding-top: 0px;
    font-size: 100px;
    color: white;
}

.container2 .caja1 h1{
    color: white;
    margin: 0 auto;
}

.container2 .caja1 a{
    color: white;
    font-size: 50px;
}

.container3 {
    display: flex;
}

.container3 .caja {
    margin: 20px auto;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    width: 20%;
    height: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.container3 .caja .descripcion{
    background-color: white;
    width: 100%;
    height: 50px;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 .caja .descripcion p{
    font-size: 25px;
    font-weight: bold;
}

.container4 {
    display: flex;
}

.container4 .caja {
    margin: 20px auto;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    width: 20%;
    height: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.container4 .caja .descripcion{
    background-color: white;
    width: 100%;
    height: 50px;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 .caja .descripcion p{
    font-size: 25px;
    font-weight: bold;
}

.derechos{
    height: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.derechos p {
    text-align: center;
    margin: 20px;
}

.redes{
    display: flex;
    justify-content: center;
}

.redes a {
    color: black;
    text-align: center;
    font-size: 50px;
    margin: 0px 15px 15px 15px;
}


h1 {
    margin-left: 40px;
}

@media screen and (max-width: 600px) {
    .nav-links {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}

/* -----------------------------CONTACTOS-------------------------------------- */

.containerContactos {
    height: 780px;
}

.mapa {
    text-align: center;
}

.containerContactos p {
    font-size: 25px;
    text-align: center;
}

.contactanos {
    display: flex;
    justify-content: center;
}

.containerContactos .contactanos a {
    font-size: 100px;
    color: black;
    text-shadow: #000 1px 0 5px;
}

.containerContactos .contactanos .fa-whatsapp {
    margin-left: 100px;
    margin-right: 100px;
}

/* -----------------------------PROCESO-------------------------------------- */

.containerProceso {
    height: 1600px;
}

.containerProceso .cajaProceso {
    margin: 15px auto;
    width: 1550px;
    background-color: wheat;
    height: 300px;
    border-radius: 10px;
}

.containerProceso .cajaProceso .descripcionProceso {
    width: 500px;
    height: 300px;
    background-image: url(img/Peronalized-Rug1.png);
    background-size: cover;
    float: left;
}

.containerProceso .cajaProceso .textoProceso {
    float: right;
    width: 1000px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}

.containerProceso .cajaProceso .textoProceso  p{
    margin-left: 42px;
    font-size: 25px;
}